<ion-view title='商品详情' >
	<ion-header-bar class="bar-positive">
	  <div class="buttons">
	    <button class="button" ng-click="goBack()"><i class="ion-chevron-left"></i></button>
	  </div>
	  <h1 class="title">商品详情</h1>
	  <div class="buttons">
	    <a class="button" href='#/tab/dash'><i class="ion-home"></i></a>
	  </div>
	</ion-header-bar>

	<ion-content class="padding">
	  <ion-slide-box does-continue>
		  <ion-slide ng-repeat='item in data.pictures'>
		    <div class="box blue">
		    	<img style="min-width:320px;width:100%;height:auto;" ng-src="{{item.small}}" alt="{{data.goods_name}}" />
		    </div>
		  </ion-slide>
		</ion-slide-box>
		<div class="grid">
			<ul>
				<li><h2>{{data.goods_name}}</h2></li>
				<li><div class="row">
					<div class="col col-50">重量：{{data.goods_weight}}</div>
					<div class="col col-50">点击：{{data.click_count}}次</div>
				</div></li>
				<li><span data-ng-bind-html='data.shop_price'></span></li>
			</ul>
		</div>
		<div class="grid">
			<section class="goodsDesc" data-ng-bind-html='detail'>			
			</section>
		</div>
	</ion-content>
	<ion-footer-bar align-title="right" class="bar-dark">
		<button class="button icon-left ion-ios-information button-energized">去结算</button>
	    <button class="button icon-left ion-ios-cart button-assertive">加入购物车</button>
	</ion-footer-bar>	
</ion-view>
