<ion-view title='商品详情' >
	<ion-header-bar class="bar-positive">
	  <div class="buttons">
	    <a class="button button-clear icon-left ion-ios-arrow-left" ng-click="goBack()"></a>
	  </div>
	  <h1 class="title">商品列表</h1>
	  <div class="buttons">
	    <a href="#/tab/dash" class="button button-clear icon-left ion-ios-home"></a>
	  </div>	  
	</ion-header-bar>

	<ion-content>
 	  	<ion-slide-box  on-slide-changed="slideHasChanged($index)">
		  <ion-slide ng-repeat='item in data.pictures'>
		    <div class="box">
		    	<img ng-src="{{::item.small}}"/>
		    </div>
		  </ion-slide>
		</ion-slide-box> 

		<div class="grid padding">
			<ul>
				<li><h2 class="goodsName">{{::data.goods_name}}</h2></li>
				<li><div class="row">
					<div class="col col-50">重量：{{::data.goods_weight}}</div>
					<div class="col col-50">点击：{{::data.click_count}}次</div>
				</div></li>
				<li><span data-ng-bind-html='data.shop_price'></span></li>
			</ul>
		</div>
		<div class="grid padding">
			<section class="goodsDesc" data-ng-bind-html='detail'>			
			</section>
		</div>
	</ion-content>
	<ion-footer-bar align-title="right" class="bar-dark">
		<a href="#/tab/cart" class="button icon-left ion-ios-information button-energized">去结算</a>
	    <button ng-click='addCart()' class="button icon-left ion-ios-cart button-assertive">加入购物车</button>
	</ion-footer-bar>	
</ion-view>
