<ion-view view-title="Login" name="login">
  <ion-header-bar class='bar-calm'>
    <button ng-click='myGoBack()' class="button button-clear icon-left ion-ios-arrow-back"></button>
    <h1 class="title">用户登录</h1>
    <a href='#/register' nav-direction="forward" class="button button-clear">手机登录</a>
  </ion-header-bar>
  <ion-content class="padding">
      <div class="list list-inset">         
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username" required>
            </label>
            <label class="item item-input">
                <input type="password" placeholder="Password" ng-model="data.password" required>
            </label>
            <!-- <button class='button' ng-click='getCode($event)' ng-disabled='data.username.$invalid'>{{getCodeText}}</button> -->
            <button ng-click='login()' class="button button-block button-calm" ng-disabled='login.$invalid'>登录</button>

      </div>
      <div class="buttons" style='text-align:center;'>
        <a class="button button-clear" ng-click="wechatLogin()">
          <img src="./img/icon32_wx_button.png" alt="">
        </a>        
      </div>
      <p><a href="#/tab/dash">随便逛逛</a><a class="fr" nav-direction="forward" href="#/register">忘记密码？</a></p>
  </ion-content>
</ion-view>