<ion-view title='购物车'>
	<ion-content class='cart-view' >
		<ion-list show-delete="shouldShowDelete" show-reorder="shouldShowReorder"  can-swipe="listCanSwipe" ng-if='items.goods_list'>
			<ion-checkbox class='checkbox-assertive' ng-model="isChecked" ng-repeat="item in items.goods_list" >
				<ion-item class="item-thumbnail-left">
				    <img ng-src="{{item.img.thumb}}">
					<div>
				    	<h2>{{item.goods_name}}</h2>
				    	<div>
				    		<div class="shop_price" data-ng-bind-html='item.goods_price'>   			
				    		</div>			    		
				    		<div class="shop_price assertive" data-ng-bind-html='item.subtotal'></div>
				    	</div>					
					</div>
					<p>{{item.goods_number}}</p>
					
			    	<ion-option-button class="button-positive" ng-click="share(item)">
			      		Share
			    	</ion-option-button>
			    	<ion-option-button class="button-info" ng-click="edit(item)">
			      		删除
			    	</ion-option-button>
			  	</ion-item>
			</ion-checkbox>
		</ion-list>
		<div class='bar bar-footer bar-dark' ng-if='items.goods_list'>
			<ion-checkbox class="checkbox-assertive" ng-model="allCheck">全选</ion-checkbox>

			<button class="button button-clear">合计：{{total}}</button>
			<button class="button button-assertive pull-right">去结算(<span>{{totalNum}}</span>)</button>		
		</div>
		<p ng-hide='items.goods_list'>
			购物车为空
		</p>
	</ion-content>
</ion-view>