<ion-view view-title="Chats">
	<ion-side-menus>
		<ion-side-menu-content>
			<ion-header-bar class="item-input-inset bar-stable" align-title='center'>
			<button class="button button-icon icon-left ion-ios-arrow-left"></button>      

			<label class="item-input-wrapper">
			<i class="icon ion-ios-search placeholder-icon"></i>
			<input type="search" placeholder="Search">
			</label>
			<div class="buttons">
				<button class="button button-icon icon-left ion-qr-scanner" ng-click="doScan()"></button>
				<button class="button button-icon icon-left ion-navicon" ng-click='toggleRight()'></button>      
			</div>
			</ion-header-bar>

			<ion-content>
				<div class="button-bar">
					<a class="button">First</a>
					<a class="button">Second</a>
					<a class="button">Third</a>
				</div>
				<div class="list"  ng-repeat='item in cates'>
					<a class="item item-avatar" href="#/goodlist/{{child.id}}"  ng-repeat='child in item.children track by $index'>
						<span>{{child.name}}</span>
					</a>
					<a class="item" href="#/goodlist/{{item.id}}" >
						<span>{{item.name}}</span>
					</a>
				</div>
			</ion-content>

		</ion-side-menu-content>

		<ion-side-menu side="right">
			<div class="list" ng-repeat='item in cates'>
				<div><a href="">{{item.name}}</a></div>
				<a ng-repeat='child in item.children track by $index' href="">{{child.name}}</a>
			</div>
		</ion-side-menu>
	</ion-side-menus>
</ion-view>
