<ion-view name='tab.dash'>

  <ion-header-bar class="bar-header bar-assertive" align-title='center'>
    <div class="buttons">
      <a class="button icon-left ion-qr-scanner" ng-click="doScan()"></a>
    </div>
    <div class="title buttons item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search" ng-focus='focus()'>
      </label>
    </div>

    <div class="buttons">
      <a class="button icon-left ion-chatbox-working" href="#/tab/account"></a>
    </div>
  </ion-header-bar>

  <ion-content lazy-scroll>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide options="options" ng-repeat='slide in data.player'>
        <div class="box">
            <img image-lazy-src='{{::slide.photo.thumb}}' image-lazy-distance-from-bottom-to-load="10"/>   
        </div>
      </ion-slide>
    </ion-slide-box>
    
    <hr />
    <ion-list ng-repeat='item in list'>
      <ion-item href='#/good/{{good.id}}' class="item-thumbnail-left" ng-repeat='good in item.goods track by $index'>
          <img image-lazy-src="{{good.img.small}}" lazy-scroll-resize="true" image-lazy-distance-from-bottom-to-load="50"/>
          <h2>{{good.name}}</h2>
          <p>{{good.id}}【{{item.name}}】</p>
          <p>价格：<em data-ng-bind-html='good.shop_price' class="shop_price"></em></p>
      </ion-item>
    </ion-list ng-repeat>
  </ion-content>
</ion-view>
