<ion-view view-title="Chats">
  <ion-content>
    <ion-infinite-scroll on-infinite-scroll='' distance='1%'></ion-infinite-scroll>
      <div class="list"  ng-repeat='item in cates'>

            <a class="item item-avatar" href="#/goodlist/{{child.id}}"  ng-repeat='child in item.children track by $index'>
              <h2>{{child.name}}</h2>
            </a>
            <a class="item" href="#/goodlist/{{item.id}}" >
              <h2>{{item.name}}</h2>
            </a>
      </div>
  </ion-content>
</ion-view>
