<ion-view title='我的地址' class='address_list'>
	<ion-header-bar class="bar-stable">
		<a href='#/tab/account' class="button button-clear icon-left ion-ios-arrow-back"></a>	
		<h1 class="title">地址管理</h1>
	</ion-header-bar>
	<ion-content>
		<p class='text-center'>左滑动编辑地址</p>
		<ion-list show-delete="shouldShowDelete">
			<ion-item ng-repeat='item in list' 				
				can-swipe="listCanSwipe">
    			<ion-delete-button class="ion-close-circled"
                		ng-click="del(item.id)">
    			</ion-delete-button>							
				
				<h2>{{item.consignee}} {{item.tel}} {{item.mobile}}</h2>
				<p class='detailAdd'><span class='button button-inline button-assertive' ng-if='item.default_address'>默认</span>
					{{item.province_name}}{{item.city_name}}{{item.district_name}}{{item.address}}</p>
				<ion-option-button class='button-positive' ng-click='setDefault(item.id)'>
					设为默认
				</ion-option-button>
				<ion-option-button class='button-info' ng-click='update(item.id)'>
					编辑
				</ion-option-button>	
				<ion-option-button class='button-assertive' ng-click='del(item.id)'>
					删除
				</ion-option-button>							
			</ion-item>
		</ion-list>
	</ion-content>
<!-- 	<div class="bar bar-footer">
	</div>	 -->
<ion-footer-bar align-title="center" class="bar-stable">
	<!-- <button class="button button-block icon-left ion-plus button-assertive">Favorites</button> -->
    <h1 class='title'>
    <button class="button button-block button-assertive" ng-click='address()'>
    	<i class="ion-ios-plus-empty"></i>
    	<span>
    		新建地址
    	</span>
    </button>    	
    </h1>
</ion-footer-bar>

</ion-view>